.underline{
    text-decoration: none;
}
.margin{
    margin-top: 100px;
}

.hoverr li a:hover{
    background-color:darkslategray;
}
.whatsapp{
    position: fixed;
    z-index: 2;
    bottom: 60px;
    right: 0px;
}
.whatsapp a img{
    width: 60px;
}
.font{
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
}
.text_shd_05{
    text-shadow: 2px 1px 6px black;
}
@media only screen and (max-width: 767px){
    .flutter_02{
        display: none;
    }
}